.c1{
    background-color: black;
    height: 600px;
}
.c3{
    border-radius: 40px;
    background-color:rgb(98, 4, 165);
    border: none;
    margin-left: -80px;
    padding:15px 25px;
    margin-bottom: 50px;
}
.c4{
    font-size: 50px;
    margin-left: -80px;
}
.c2{
    margin-left: -80px;
}
.c6{
    width: 600px;
}
.c7{
    border-radius: 40px;
    background-color:rgb(98, 4, 165);
    border: none;
    padding:15px 25px;

}
.c9{
    background-color:rgb(98, 4, 165);
    border: none;
    padding:10px 70px;
}
.b1{
    border-radius: 40px;
    background-color:rgb(98, 4, 165);
    border: none;
    padding:15px 25px;

}
.b2{
    color:rgb(77, 2, 130) ;
    margin-top: 10%;
}
.b3{
    color: blueviolet;
}
.b4,.b5{
    color: rgb(58, 58, 58);
}
.b6,.a1,.d3{
    color:rgb(77, 2, 130) ;
}
.b7{
        padding: 30px 20px;
}
.d1{
    width: 95%;
}
.d1:hover,.d4:hover{
    transform: scale(1.01);
    box-shadow: 2px 2px 10px #979797;
}
.d2{
    background-color:rgb(98, 4, 165);
    color: white;
    border: none;
    padding: 9px 13px;
}
.d5{
    border-radius: 40px;
    /* background-color:; */
    border: solid 2px rgb(98, 4, 165);
    padding:15px 25px;
    color: rgb(98, 4, 165);
}
.d5:hover,.d6{
background-color: rgb(98, 4, 165);
    color:white;
}

.nav1{
    position:sticky ;
    top: 0px;
    z-index: 999;
}
.row{
    align-items: center;
}
.col{
   padding: 30px;
}
.col1{
    color: rgb(98, 4, 165);
}
.col2{
    border-left: gray 2px solid;
}
.k1,.k2,.k3,.k4{
    background-color: rgb(39, 10, 66);
    height: 400px;
}
.v{
    list-style: none;
}
.v1{
    text-decoration: none;
    color: white;
}
.h{
    height: auto;
}
.a0{
    text-decoration: none;
    color: black;
}
@media (max-width:700px){
    .c3,.b1{
        border-radius: 40px;
        background-color:rgb(98, 4, 165);
        border: none;
        margin-left: -20px;
        padding: 10px 15px;
    }
    .c4{
        font-size: 20px;
        margin-left: -20px;
    }
    .c2{
        font-size:15px ;
        margin-left: -20px;
    }
    .c6{
        width: auto;
    }
    .b1{
         padding: 10px 15px;
    }
.i1{
    display: none;
}
.i3,.i2{
    padding: 2%;
    width:100%;
    text-align: center;
}
.d5{
    padding:10px 20px;
    font-size: smaller;
}
.d2{
    font-size: smaller;
    padding: 6px 10px;
}
.c7,.b1{
    font-size: smaller;
    padding:10px 18px;
}
   .c8{ text-align: center;
}
.h{
    text-align: center;
}
}
